* {
  margin: 0;
  outline: 0;
  padding: 0;
  /* hide scrollbar */
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

.App {
  text-align: center;
  background-color: #282c34;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.hovered {
  transition: all 0.3s ease; /* Adjust the duration and easing function as needed */
}

.hoveredBack {
  transition: all 5s ease;
}

.hidden {
  display: none;
}

.pointer {
  cursor: pointer;
}

.hover-zoom {
  transition: transform 0.2s ease-in-out;
}

.hover-zoom:hover {
  transform: scale(1.1);
}

.bg-first {
  background-image: url(https://i.imgur.com/AzUehWp.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.bgAll {
  background-image: url(https://i.imgur.com/6i5maED.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
}

.carousel-image {
  width: 100%; /* Pastikan gambar mengisi lebar carousel item */
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
